<a href="https://colab.research.google.com/github/z-gard/analysis/blob/main/notebooks/all_town_detail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 町の詳細情報
- input:
    - population_master.csv
        - 町丁ごとの位置
    - nursery_score.csv
        - 保育園
        - 児童館
    - public_school_score.csv
        - 幼稚園
        - 小学校
        - 中学校
    - library_score.csv
        - 図書館
    - convenience_score.csv
        - コンビニ
        - スーパー
        - 最寄り駅
    - park_score.csv
        - 公園
    - sports_score.csv
        - 運動場
        - 体育館
        - プール
    - medical_score.csv
        - 病院
        - 小児科
        - 薬局
    - crime_score.csv
        - 犯罪件数
    - population_core.csv
        - ○○割合スコア
- output:
    - all_town_detail.csv
        - 町丁ごとの詳細データ

In [1]:
!pip install -q japanize-matplotlib

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
DIR_NAME = '/content/drive/MyDrive/z-gard/data'

In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

In [5]:
output_file = 'all_town_detail.csv'

### 人口マスタ

In [6]:
df_population = pd.read_csv(os.path.join(DIR_NAME, 'population_master.csv'))[
    ['地域ID']  # '市区町村名', '町丁目'
].set_index('地域ID')
print(df_population.shape)
df_population.head()

(3145, 0)

Empty DataFrame
Columns: []
Index: [101003, 101004, 101005, 101007, 101008]

### 保育園・児童館

In [7]:
df_nursery = pd.read_csv(os.path.join(DIR_NAME, 'nursery_score.csv'))\
            .drop(columns=['保育園(定員割合)', '最寄りの保育園', '保育園スコア', '児童館スコア']).set_index('地域ID')
print(df_nursery.shape)
df_nursery.head()

(3145, 4)

        保育園(最近傍距離)  保育園(数)  児童館(最近傍距離)  児童館(数)
地域ID
101003       0.748       3       1.224       4
101004       0.841       1       1.588       3
101005       0.612       1       1.571       4
101007       0.325       3       1.353       5
101008       0.306       4       0.973       5

### 小学校・中学校・幼稚園

In [8]:
df_school = pd.read_csv(os.path.join(DIR_NAME, 'public_school_score.csv'))\
        .drop(columns=['最寄りの小学校', '最寄りの中学校', '最寄りの幼稚園', '小学校スコア', '中学校スコア', '幼稚園スコア']).set_index('地域ID')
print(df_school.shape)
df_school.head()

(3145, 6)

        小学校(最近傍距離)  小学校のレーティング  中学校(最近傍距離)  中学校のレーティング  幼稚園(最近傍距離)  幼稚園のレーティング
地域ID
101003       0.342         4.1       1.701         3.5       0.298        2.39
101004       0.524         4.1       1.631         3.5       0.506        2.39
101005       0.558         4.1       1.277         3.5       0.565        3.40
101007       0.556         4.2       0.962         3.5       0.556        3.00
101008       0.258         4.2       1.364         3.5       0.255        3.00

### 図書館

In [9]:
df_library = pd.read_csv(os.path.join(DIR_NAME, 'library_score.csv'))\
            .drop(columns=['図書館スコア']).set_index('地域ID')
print(df_library.shape)
df_library.head()

(3145, 3)

        図書館(最近傍距離)  図書館(平均距離)  図書館(数)
地域ID
101003       1.286      1.302       5
101004       1.242      1.350       5
101005       1.001      1.274       4
101007       0.688      1.136       5
101008       0.772      1.183       6

### コンビニ・スーパー・最寄り駅

In [10]:
df_convenience = pd.read_csv(os.path.join(DIR_NAME, 'convenience_score.csv'))\
            .drop(columns=['買い物スコア', '駅スコア', '利便性スコア']).set_index('地域ID')
print(df_convenience.shape)
df_convenience.head()

(3145, 4)

        コンビニ(数)  コンビニ(平均距離)  スーパー(数)  最寄駅(距離)
地域ID
101003       72       0.040       13    0.054
101004       58       0.101       10    0.315
101005       46       0.102        9    0.228
101007       36       0.070        7    0.317
101008       43       0.128       15    0.489

### 公園

In [11]:
df_park = pd.read_csv(os.path.join(DIR_NAME, 'park_score.csv'))\
            .drop(columns=['公園スコア']).set_index('地域ID')
print(df_park.shape)
df_park.head()

(3145, 2)

        公園(平均距離)  公園(数)
地域ID
101003     0.937      3
101004     0.971      2
101005     0.771      5
101007     0.641      4
101008     0.654      5

### 運動場・体育館・プール

In [12]:
df_sports = pd.read_csv(os.path.join(DIR_NAME, 'sports_score.csv'))\
            .drop(columns=['運動場スコア', '体育館スコア', 'プールスコア']).set_index('地域ID')
print(df_sports.shape)
df_sports.iloc[300:305]

(1839, 6)

        運動場(最近傍距離)  運動場(数)  体育館(最近傍距離)  体育館(数)  プール(最近傍距離)  プール(数)
地域ID
107010       0.751      11       2.080       1       0.821       3
107012       0.303      14       1.741       2       0.476       4
107013       0.241      14       1.519       2       0.625       3
107014       0.356      15       1.286       3       0.809       3
107015       0.158      15       1.051       3       1.052       2

### 病院・小児科・薬局

In [13]:
df_medical = pd.read_csv(os.path.join(DIR_NAME, 'medical_score.csv'))\
            .drop(columns=['病院スコア', '小児科スコア', '薬局スコア', '医療スコア']).set_index('地域ID')
print(df_medical.shape)
df_medical.head()

(3145, 6)

        病院(平均距離)  病院(数)  小児科(平均距離)  小児科(数)  薬局(平均距離)  薬局(数)
地域ID
101003     0.257      8      0.345       4     0.203     13
101004     0.460      2      0.514       2     0.388      5
101005     0.252     13      0.423       3     0.215     12
101007     0.144      8      0.496       2     0.122     14
101008     0.262     13      0.467       4     0.226     18

### 犯罪件数

In [14]:
df_crime = pd.read_csv(os.path.join(DIR_NAME, 'crime_score.csv'))\
            .drop(columns=['治安スコア']).set_index('地域ID')
print(df_crime.shape)
df_crime.head()

(3145, 5)

        凶悪犯計  粗暴犯計  侵入窃盗計  非侵入窃盗計   その他計
地域ID
101003   1.0  23.0    0.0   136.0   82.0
101004   0.0   1.0    0.0    22.0   17.0
101005   0.0   3.0    0.0    13.0  125.0
101007   1.0   8.0    3.0    18.0    6.0
101008   0.0   9.0    0.0    12.0    3.0

### 人口分布

In [15]:
df_pop_rate = pd.read_csv(os.path.join(DIR_NAME, 'population_score.csv'))\
    .drop(columns=['10代_子割合スコア', '20代_子割合スコア', '30代_子割合スコア', '40代_子割合スコア', '50代_子割合スコア']).set_index('地域ID')
df_pop_rate = df_pop_rate.round(1)
print(df_pop_rate.shape)
df_pop_rate.head()

(3145, 10)

,乳幼児割合スコア,小学生割合スコア,中学生割合スコア,高校生割合スコア,10代割合スコア,20代割合スコア,30代割合スコア,40代割合スコア,50代割合スコア,60代割合スコア
地域ID,,,,,,,,,,
101003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 全て結合

In [16]:
df_all_town_detail = pd.concat([
    df_population,
    df_nursery,
    df_school,
    df_library,
    df_convenience,
    df_park,
    df_sports,
    df_medical,
    df_crime,
    df_pop_rate,
], axis=1)
df_all_town_detail.index.name = '地域ID'
print(df_all_town_detail.shape)

(3145, 46)

### 距離を徒歩(分)に変換
- 1分＝80m

In [17]:
dist_cols = [col for col in df_all_town_detail.columns if '距離' in col]

for col in dist_cols:
    df_all_town_detail[col] = (df_all_town_detail[col] * 1000 / 80 + 0.5).round()

In [18]:
df_all_town_detail[1000:1005]

,保育園(最近傍距離),保育園(数),児童館(最近傍距離),児童館(数),小学校(最近傍距離),小学校のレーティング,中学校(最近傍距離),中学校のレーティング,幼稚園(最近傍距離),幼稚園のレーティング,図書館(最近傍距離),図書館(平均距離),図書館(数),コンビニ(数),コンビニ(平均距離),スーパー(数),最寄駅(距離),公園(平均距離),公園(数),運動場(最近傍距離),運動場(数),体育館(最近傍距離),体育館(数),プール(最近傍距離),プール(数),病院(平均距離),病院(数),小児科(平均距離),小児科(数),薬局(平均距離),薬局(数),凶悪犯計,粗暴犯計,侵入窃盗計,非侵入窃盗計,その他計,乳幼児割合スコア,小学生割合スコア,中学生割合スコア,高校生割合スコア,10代割合スコア,20代割合スコア,30代割合スコア,40代割合スコア,50代割合スコア,60代割合スコア
地域ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
109098,2.0,18,10.0,15,8.0,4.2,6.0,2.0,14.0,1.78,7.0,13.0,5,4,4.0,15,4.0,8.0,11,29.0,4.0,12.0,5.0,15.0,5.0,5.0,5,8.0,1,4.0,11,0.0,0.0,0.0,0.0,0.0,2.1,2.9,3.5,2.8,2.8,2.3,1.5,3.0,3.0,1.7
109100,4.0,30,4.0,17,5.0,3.8,2.0,3.9,5.0,3.00,5.0,10.0,8,8,4.0,13,6.0,7.0,13,22.0,5.0,15.0,5.0,8.0,5.0,6.0,4,8.0,1,5.0,7,0.0,2.0,0.0,8.0,4.0,2.2,2.5,2.2,2.2,2.2,3.8,4.1,2.6,0.4,1.4
109101,3.0,27,5.0,20,6.0,3.4,3.0,3.9,6.0,1.78,9.0,12.0,9,9,4.0,12,6.0,5.0,13,23.0,4.0,14.0,5.0,9.0,4.0,4.0,8,6.0,3,3.0,16,0.0,1.0,0.0,2.0,3.0,1.6,2.7,2.7,4.1,4.1,2.0,1.2,3.0,4.1,1.8
109102,2.0,25,5.0,19,6.0,3.4,7.0,3.9,5.0,1.78,9.0,13.0,8,14,2.0,17,5.0,4.0,14,25.0,4.0,10.0,5.0,12.0,4.0,3.0,18,5.0,6,2.0,26,0.0,1.0,0.0,25.0,6.0,2.8,1.5,1.4,0.7,0.7,2.9,4.5,2.7,2.7,1.7
109103,2.0,26,5.0,18,5.0,3.9,9.0,2.5,2.0,1.78,7.0,12.0,8,10,2.0,19,8.0,6.0,14,26.0,4.0,11.0,5.0,12.0,4.0,3.0,10,5.0,4,2.0,16,0.0,1.0,1.0,9.0,5.0,3.4,2.2,2.0,1.8,1.8,2.3,3.9,2.4,1.3,2.3

### 出力

In [19]:
df_all_town_detail.to_csv(os.path.join(DIR_NAME, output_file), index=True)